body {
Background-image:url(https://www.titan22.com/media/magefan_blog/AirJordanCollection.gif);
Background-repeat:2-repeat; ;
Background-size:3500px 2000


2px;
}
H1 {
Text-align:center;
Color:000000;
}
 div {
Text=align:center;
Background-color:#ff0000
Font-size:30px;
Border:4px solid black;
Color:#FFFFFF;
}
Table, td, th
{
Border:5px solid red;
Padding:15px;
}
Th
{
Background-color:powderblue;
Color:white;
}
A:hover,a:active
{
Background-color:#000000;